<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2> Sign In</h2>
    <form action="/signup" method="post">
        <label for="name">Email: </label>
        <input type="text" name="name" placeholder="Name">
        <label for="password">Password: </label>
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value="Signup"><br>
        <a href="./login.hbs">Have a account? Login here</a>
    </form>
</body>
</html>