<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../public/login.css">
</head>
<body>
    <h2> Log In</h2>
    <div class="wrapper">
        <form action="/login" method="post">
            <input type="name" name="name" placeholder="Name" required autocomplete="true">
            <input type="password" name="password" placeholder="Password" required>
            <input type="submit" value="Login">
        </form>
    </div>

    <div class="signup">
        <a href="./signup">Make a new account</a>
    </div>
</body>
</html>